# Ignore bin and obj directories
bin/
obj/
Daw.DB/DynamicEntities.db
Daw.DB/DynamicEntities.db


.fake
.vscode/settings.json

.vs/

packages/

Daw.DB.Tests/Properties/AssemblyInfo.cs

# Ignore build output
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
*.vscode/

# Log files
*.log

# Ignore NuGet Packages
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Ignore sensitive configuration files (if applicable)
appsettings.*.json

Daw.DB.Data/appsettings.json

Daw.DB.Tests/appsettings.json
