Daw.DB/bin/Debug/net8.0/Daw.DB.dll
Daw.DB/bin/Debug/net8.0/Daw.DB.dll
Daw.DB/bin/Debug/net8.0/Daw.DB.pdb
Daw.DB/obj/Debug/net8.0/Daw.DB.AssemblyInfo.cs
Daw.DB/obj/Debug/net8.0/Daw.DB.AssemblyInfoInputs.cache
Daw.DB/obj/Debug/net8.0/Daw.DB.csproj.FileListAbsolute.txt
Daw.DB/obj/Debug/net8.0/Daw.DB.dll
Daw.DB/obj/Debug/net8.0/Daw.DB.pdb
Daw.DB/obj/Debug/net8.0/Daw.DB.sourcelink.json
Daw.DB/obj/Debug/net8.0/ref/Daw.DB.dll
Daw.DB/obj/Debug/net8.0/refint/Daw.DB.dll
